div{
    display:flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
h2{
    color: orange;
}
ul{
    background-image: linear-gradient(black, rgb(46, 46, 46));
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  }